%header.raw
  .col-md-12
    %h2= t('checkout.page_title')
    %nav.navbar.navbar-inverse
      .container-fluid
        %ul.nav.navbar-nav
          - ShoppingCart.config.checkout_steps.each do |item|
            %p.navbar-text{ id: ('active_checkout_step' if item == step) }
              = item.to_s.humanize
