= render 'shopping_cart/checkout/checkout_form' do |f|
  .col-md-8
    .well
      %h3= t('checkout.deliveries')
      %ul.list-group
        - @checkout_data.each_with_index do |delivery, i|
          %li.fields.form-group.list-group-item
            = f.radio_button :delivery_id, delivery.id,
                checked: (delivery.title == @order.try(:delivery).try(:title)),
                data: {price: delivery.price}
            = f.label :delivery_id, delivery.full_info
