.raw
  .col-md-12
    %h1.page-header= I18n.t('cart.page_title')
    .well
      - if @order
        = render partial: 'form', locals: {order: @order}
      - else
        = render partial: 'empty_cart'
